/* ARQUIVO: _layout.css */

/* 1. Leiaute principal da página com CSS Grid */
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto; /* Header e Footer têm altura automática, o Main ocupa o resto */
  min-height: 100vh;
}

header { grid-area: header; background-color: var(--cor-fundo-componente); box-shadow: var(--box-shadow); }
main { grid-area: main; }
footer { grid-area: footer; background-color: #2b2b2b; color: #FFFFFF; padding: var(--spacing-32) 0; text-align: center; }


/* 2. Container para centralizar o conteúdo */
.container {
  width: 90%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-16) 0;
}


/* 3. Sistema de grid customizado de 12 colunas */
.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Cria 12 colunas de tamanho igual */
  gap: var(--spacing-24); /* Espaço entre as colunas */
}