/* ARQUIVO: style.css (COMPLETO E MODIFICADO) */

/* Estrutura modular de CSS */
@import url('_variables.css');
@import url('_layout.css');
@import url('_components.css');
@import url('_accessibility.css'); /* <-- ADICIONADO PARA O BOTÃO DE TEMA */
@import url('_responsive.css'); 

/* Resets e Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-corpo);
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: var(--fonte-titulos);
  color: var(--cor-primaria);
  margin-bottom: var(--spacing-16);
}